body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.content-container {
    padding-top: 75px;
}

.container-wrapper {
    background-color: #00ff89;
}

/*Navbar*/

.navalert-container {
   
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {

    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #00ff89;
    z-index: 1;
    text-align: center;
}

.navbar .navbar-toggler{
    border: 0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar .navbar-nav a:hover {
    font-weight: bold;
    color: #DA46BD;
}


/* cta */

.callout-container {
    height: 100vh;
    background: url(../assets/landscape.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.callout {
    background-color: rgba(0,0,0,0);
    color: white;
}

.btn--cta {
    font-weight: bold;
    text-align: center;
    background-color: #DA46BD;
    border-radius: 10px;
    width: 140px;
    margin-top: 25px;
}

/* map */
#map-wrapper {
    padding: 0;
    height: 300px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* quotes */

.quotes {
    padding-top: 75px;
}

.media {
    display: inline;
    background-color: #00ff89;
}

.quotes a {
    text-decoration: none;
    color:#DA46BD;
}

.quotes a:hover {
    font-weight: bold;
}

/* footer */

#footer {
    width: 100%;
    height: auto;
    background-color: #00ff89;
    text-align: center;
    padding: 0;
}

#footer ul {
    padding-right: 40px;
}

#footer li{
    display: inline-block;
}

#footer li i{
    text-align: center;
    font-size: 2rem;
    clear: left;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    color: #DA46BD;
}

.copyright {
    text-align: center;
}

