body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.content-container {
    padding-top: 75px;
}

.container-wrapper {
    background-color: #6EDB68;
}

h1,
h2,
h3,
h4 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

/*Navbar*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #6EDB68;
    z-index: 1;
    text-align: center;
}

.navbar .navbar-toggler{
    border: 0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar .navbar-nav li:hover {
    color: #9370DB;
    font-weight: bold;
}

.navbar-brand, .navbar li {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

/* Jumbotron/backgrounds */

.callout-container-home {
    height: 100vh;
    background: url(../assets/landscape.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container-sheds {
    height: 90vh;
    background: url(../assets/flowers.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container-workshop {
    height: 90vh;
    background: url(../assets/workshop.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container-cafe {
    height: 90vh;
    background: url(../assets/cakes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container-contact {
    height: 90vh;
    background: url(../assets/contact.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.callout {
    background-color: rgba(0,0,0,0);
    color: white;
}

.btn--cta {
    font-weight: bold;
    text-align: center;
    background-color: #9370DB;
    border-radius: 10px;
    width: 140px;
    margin-top: 25px;
}
.hr-white {
    border: none;
    height: 1px;
    color: white;
    background-color: white;
}

/* map */
#map-wrapper {
    padding: 0;
    height: 300px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* quotes */

.quotes {
    padding-top: 75px;
}

.media {
    display: inline;
    background-color: #6EDB68;
}

.quotes a {
    text-decoration: none;
    color:#9370DB;
}

.quotes a:hover {
    font-weight: bold;
}
 
/* footer */

#footer {
    width: 100%;
    height: auto;
    background-color: #6EDB68;
    text-align: center;
    padding: 0;
}

#footer ul {
    padding-right: 40px;
}

#footer li{
    display: inline-block;
}

#footer li i{
    text-align: center;
    font-size: 2rem;
    clear: left;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    color: #7b52ae;
}

/* sheds */

.container-wrapper-sheds {
    background-color: rgba(0,0,0,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    background: url(../assets/flowers.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.sheds {
   
}

.shed-image img {
    border: 1px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sheds h4 {
    margin-bottom: 10px;
    text-align: center;
}

.sheds p {
    margin-top: 35px;
    text-align: center;
}

.shed-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6EDB68;
}



/* Workshops */



/* Cafe */

.drinks {
    text-decoration: none;
}

.drink ul {
    text-decoration: none;
}

/* Contact */

.text-muted {
    color: #fff;
}