body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    display:flex;
     flex-direction:column; 
     min-height:100vh;
     color: black;
}

a:hover {
    color: #9370DB;
}

.row {
    margin: 0;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper {
    background-color: #6EDB68;
}

h1,
h2,
h3,
h4 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 1.75rem;
}

h1 {
    font-size: 5rem;
}

.page-header {
    color: #fff;
}

/*Navbar*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #6EDB68;
    z-index: 1;
    text-align: center;
}

.navbar .navbar-toggler{
    border: 0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.nav-link:hover {
    color: #9370DB;
    font-weight: bold;
}

.navbar-brand, .navbar li {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

/* Jumbotron/backgrounds */

.callout-container-home {
    height: 100vh;
    background: url(../assets/landscape.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-top: 25px;
    background-color: black;
}


.callout-container-cafe {
    height: 100vh;
    background: url(../assets/cakes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: black;
}

.callout-container-contact {
    height: 100vh;
    background: url(../assets/contact.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.callout {
    background-color: rgba(0,0,0,0);
    color: white;
}

.btn--cta {
    font-weight: bold;
    text-align: center;
    background-color: #9370DB;
    border-radius: 10px;
    width: 140px;
    margin-top: 25px;
}
.hr-white {
    border: none;
    height: 1px;
    color: white;
    background-color: white;
}

/* map */
#map-wrapper {
    padding: 0;
    height: 300px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.map-display {
    width: 100%;
    height: 350px; 
    border: none;
}

/* quotes */

.quotes {
    padding-top: 75px;
}

.media {
    display: inline;
    background-color: #6EDB68;
}

.quotes a {
    text-decoration: none;
    color:#9370DB;
}

.quotes a:hover {
    font-weight: bold;
}
 
/* footer */

#footer {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    background-color: #6EDB68;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: auto;
    overflow: none;
    flex: 1;
    padding-right: 0px;
    padding-left: 0px;
}

#footer a i{
    text-align: center;
    font-size: 2rem;
    clear: left;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    color: #7b52ae;
}

/* sheds */

.container-wrapper-sheds {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 150px;
    background: url(../assets/flowers.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.sheds {
   color: #fff;
}

.shed-image img {
    border: 1px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 18.75em;
    width: 18.75em;
}

.sheds h4 {
    margin-bottom: 10px;
    text-align: center;
}

.sheds p {
    margin-top: 35px;
    text-align: center;
}

.shed-button {
    border: 1px solid #7b52ae;;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6EDB68;
}



/* Workshops */

.container-wrapper-workshop {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 150px;
    background: url(../assets/workshop.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.workshop-image img {
    border: 1px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12.5em;
    width: 25em;
}

.workshops {
    color: #fff;
 }

 
 .workshops h4 {
     margin-bottom: 10px;
     text-align: center;
 }
 
 .workshops p {
     margin-top: 35px;
     text-align: center;
 }
 
 .workshop-button {
     border: 1px solid #7b52ae;
     display: block;
     margin-left: auto;
     margin-right: auto;
     background-color: #6EDB68;
 }

 .workshop-form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6EDB68;
}

.enquiry-modal {
    padding: 25px;
}

.workshop-form {
    text-align: center;
    padding: 25px;
}

/* Cafe */

.container-wrapper-menu {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 150px;
    background: url(../assets/cakes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}



.menu-image {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.menu a {
    border: 1px solid #7b52ae;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6EDB68;
    text-decoration: none;
    color: black;
}



/* Contact */

.text-muted {
    color: #fff;
}

/* Media Queries */

@media only screen and (max-width: 450px) {
    .callout-container-home {
        height: 50%;
    }
}

@media only screen and (max-width: 330px) {
    .shed-image img {
        height: 75%;
        width: 75%;
    }

    .container-wrapper-sheds {
        height: 50%;
    }
}


@media only screen and (max-width: 440px) {
    .workshop-image img {
        height: 50%;
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    .text-entry {
        width: 100%;
    }

    #message {
        width: 100%;
    }
}

@media only screen and (max-width: 530px) {
    .container-wrapper-menu {
       height: 100vh;
    }
}

